/*General styles*/
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 62.5% !important;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-size: inherit;
}

:root {
  --BackgroundColorLight: #fafafa;
  --BackgroundColorDark: #f6f6f6;
  --BackgroundColorMiddle: lightgrey;
  --ColorTextLigtht: orange;
  --ColorTextDark: black;
  --ColorTextHoverLight: yellow;
  --ColorTextHoverDark: #d60000;
}

.white {
  color: #fafafa;
}

.red {
  color: #d60000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul.unstyled {
  margin: 0;
  padding: 0;
}
ul.unstyled > li {
  display: block;
  list-style-type: none;
  float: left;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #0f0f0f;
  position: fixed;
  width: 100%;
  box-shadow: 0 1rem 1rem 0.08rem rgba(0, 0, 0, 0.5);
  border-bottom: 0.3rem solid #d60000;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_nav {
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: bold;
  color: #d2d2d2;
  text-align: center;
  height: 100%;
  padding: 0.5rem 1rem;
  border-top: 0.3rem solid #0f0f0f;
  box-sizing: border-box;
}

.button_nav:hover {
  transition: 0.6s all;
  color: #d60000;
  border-top: 0.3rem solid #d60000;
}

.button_nav_BorderLeft {
  border-left: 0.05rem solid black;
}

.button_nav_BorderRight {
  border-right: 0.05rem solid black;
}

#media_buttons_container {
  padding: 0;
  margin: 0;
}

#home_word_button {
  display: none;
}

#NavMenu {
  background-color: rgba(0, 0, 0, 0.97);
  padding: 5em 0 2em 0;
  border-bottom: 0.07em black solid;
  box-shadow: 0 0.5rem 1rem 0.02rem rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 49;
  display: none; /*flex*/
  flex-direction: column;
}

.nav_menu_animation {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.button_menu {
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: bold;
  color: #d2d2d2;
  text-align: center;
  height: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
}

.button_menu:hover {
  transition: 0.6s all;
  background: #d60000;
  color: #0f0f0f;
}

#CerrarMenu {
  display: none;
}

header {
  background: url(../img/back18-mod.jpg);
  background-size: cover;
  background-color: #0f0f0f;
  height: 100vh;
  align-items: center;
}

.logo_header {
  text-align: center;
  padding-top: 6em;
}

.logo_header > h1 {
  color: #fafafa;
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;

  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    1s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.logo_header > h2 {
  color: #d60000;
  font-size: 2em;

  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    0.5s both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

#LogoHeader {
  width: 60%;
  margin-bottom: 2em;

  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.3s both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s
    both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

#Requisitos {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  text-align: center;
  margin-top: 2em;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

#Requisitos > h1 {
  background-color: #d60000;
  padding: 0.2em 0;
}

#CirclesContainer {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.circle_container {
  color: #fafafa;
  font-weight: bold;
  text-align: center;
  display: grid;
  justify-items: center;
}

.section_tittle {
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
  padding-bottom: 1em;
}

#SobreNosotros,
#CondicionesDeUso {
  background-color: #fafafa;
  letter-spacing: 0.02em;
  padding: 5em 2em 2em 2em;
  margin: 5em 2em 2em 2em;
  border: 0.3rem solid #d60000;
  outline: 0.15rem dashed #d60000;
  outline-offset: -0.6rem;
  box-sizing: border-box;
}

#SobreNosotros > p {
  /* padding: 0 1em 0 1em; */
  font-size: 1.5em;
  /* padding: 2rem; */
}

#CondicionesDeUso > p,
li {
  font-size: 1.5em;
}

#CondicionesDeUso > h3 {
  text-align: center;
  text-transform: uppercase;
}

.ModoPagoImg {
  width: 100%;
  margin: auto;
}

.ModoPagoImg_desktop {
  display: none;
}

#LegalTerms_button {
  background-color: #d60000;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 1em 1em;
  margin: 0 25%;
  border-radius: 1.5em;
  display: block;
}

#LegalTerms_button:hover {
  transition: 0.6s all;
  background-color: #0f0f0f;
  color: #fafafa;
}

#LegalTerms_button:active {
  background-color: #d60000;
  color: #fafafa;
}

#Ofertas {
  background-color: #d60000;
  width: 100%;
  padding: 5em 0 2em 0;
}

.ofertas_grid {
  display: grid;
  grid-gap: 2em;
  margin: 0 2em;
}

.ofertas_container {
  background-color: #0f0f0f;
  color: #fafafa;
  box-shadow: 0 0.5rem 1rem 0.02rem rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  text-align: center;
  padding-top: 2em;
}

.ofertas_container_tittle {
  color: #d60000;
  text-transform: uppercase;
}

.hide {
  color: #0f0f0f;
}

.img-responsive {
  width: 100%;
}

#warn_cars_pictures {
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
}

#Contacto {
  background-color: #0f0f0f;
  width: 100%;
  padding: 5em 0 2em 0;
}

.contacto_grid {
  display: grid;
  grid-gap: 2em;
  margin: 0 2em;
}

.contact_container {
  width: 100%;
  display: flex;
}

.contact_container_icon {
  background-color: #d60000;
  color: #fafafa;
  font-size: 3em;
  text-align: center;
  width: 1.5em;
  padding: 0.5em;
}

.contact_container_text {
  background-color: #fafafa;
  width: 100%;
  text-align: center;
  display: grid;
  align-content: center;
}

.contact_container_text > h1 {
  text-transform: uppercase;
}

footer {
  background-color: #d60000;
  color: #d2d2d2;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
}

footer > a {
  color: #0f0f0f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #home_icon_button {
    display: none;
  }

  #home_word_button {
    display: inline;
  }

  header {
    background: url(../img/back12-mod.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .logo_header {
    width: 70%;
  }

  #Requisitos {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1s both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  .ModoPagoImg_movil {
    display: none;
  }

  .ModoPagoImg_desktop {
    display: block;
  }

  .ofertas_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #home_icon_button {
    display: none;
  }

  #home_word_button {
    display: inline;
  }

  header {
    background: url(../img/back12-mod.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .logo_header {
    width: 70%;
  }

  #Requisitos {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1s both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  .contacto_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .ModoPagoImg_movil {
    display: none;
  }

  .ModoPagoImg_desktop {
    display: block;
  }

  .ofertas_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #home_icon_button {
    display: none;
  }

  #home_word_button {
    display: inline;
  }

  header {
    background: url(../img/back12-mod.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .logo_header {
    width: 70%;
  }

  #Requisitos {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1s both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  #SobreNosotros {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #CondicionesDeUso {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .ModoPagoImg_movil {
    display: none;
  }

  .ModoPagoImg_desktop {
    display: block;
  }

  .contacto_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .ofertas_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
